<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item ">By Category</a>
                <a href=" {% url 'products' %} " class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tech-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electronics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tech-link">
                <a href="{% url 'products' %}?category=smart_tech" class="dropdown-item">Smart Tech</a>
                <a href="{% url 'products' %}?category=computing" class="dropdown-item">Computing</a>
                <a href="{% url 'products' %}?category=mobile_device" class="dropdown-item">Mobile Devices & Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gaming-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gaming
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gaming-link">
                <a href="{% url 'products' %}?category=consoles" class="dropdown-item">Consoles</a>
                <a href="{% url 'products' %}?category=virtual_reality" class="dropdown-item">Virtual Reality</a>
            </div>
        </li>
    </ul>
</div>